<h1>Listing confessions</h1>

<table>
  <thead>
	  <tr>
	    <th>Transcript</th>
	    <th>Views</th>
	    <th>Up</th>
	    <th>Down</th>
	  </tr>
	</thead>
  <tbody>
	<% @confessions.each do |confession| %>
	  <tr>
	    <td><%= link_to confession.transcript[0..50], confession %></td>
	    <td><%= confession.views %></td>
	    <td><%= confession.up %></td>
	    <td><%= confession.down %></td>
	  </tr>
	<% end %>
	</tbody>
</table>

<br />

