%section#leftbar
	%nav
		%h4 The 7 Sins
		%ul
			%li#pride Pride
			%li#greed Greed
			%li#gluttony Gluttony
			%li#luxury Luxury
			%li#sloth Sloth
			%li#wrath Wrath
			%li#envy Envy
		
	%section#contacts
		%h4 Connect with us
		%ul 
			%li#facebook 
				%a{:href=>"https://www.facebook.com/Confessly"} Facebook
			%li#twitter 
				%a{:href=>"http://twitter.com/confessly"} Twitter
			%li#shop
				%a{:href=>"http://www.cafepress.com/confessly"} Buy sinful items
			

%section#page
	%h1 The Online Confessionary
	- @latest.each do |confession|
		%article
			%p
				= confession.transcript
				-
				= link_to 'view', confession_path(confession)
	%p
		= link_to 'See all confessions', confessions_path
	
%section#rightbar
	%section#top5
		%h4 Top 5
		%ol
			- @top.each do |confession|
				%li
					= link_to 'Confession', confession_path(confession)		
