@import compass/reset
@import blueprint
@import blueprint/buttons
@import compass	


//@font-face
//	font-family: 'Museo300'
//	src: url('fonts/Museo300-Regular-webfont.eot')
//	src: url('fonts/Museo300-Regular-webfont.eot?iefix') format('eot'), url('fonts/Museo300-Regular-webfont.woff') format('woff'), url('fonts/Museo300-Regular-webfont.ttf') format('truetype'), url('fonts/Museo300-Regular-webfont.svg#webfontBsA9EFUC') format('svg')
//	font-weight: normal
//	font-style: normal


html
	background: white

body
	+blueprint-typography
	+container
	background: transparent
	overflow: auto

	>header
		margin: 18px auto
		
		p#user
			float: right
			padding: 4px
			margin-top: -18px
			background: #fff
	
	>section#main
		+column(24)
		
		> nav
					
		.notice
			+notice
	
		.alert, #error_explanation
			+error

		.video
			margin-bottom: 18px		
		
	>footer 
		+column(24)
		clear: both
		text-align: center
		margin-top: 18px
		border-top: 1px solid #ddd
		padding-top: 17px
		font-size: .8em

form
	+blueprint-form


				
h1, h2, h3, h4, h5, h6
	font-family: sans-serif
	
b
	font-weight: bold
	
.hidden 
	display: none
